* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(30,30,20);
}

nav {
	height: 65px;
	width: 100%;
	background-color: rgb(200,210,200);
	text-align: right;
}
ul {
	
}

ul li {
	list-style: none;
}

ul li a {
	color: rgb(85,85,55);
	text-decoration: underline;
	font-size: 22px;
	font-family: Arial;
	padding: 0 80px;
	float: right;
	line-height: 65px;
	display: block;
	text-align: center;
}

ul li h3 {
	color: rgb(5,5,5);
	margin: 0;
	padding: 0 150px;
	font-family: Arial;
	font-size: 33px;
	font-weight: 100;
	line-height: 65px;
	display: block;
	text-align: left;
}

ul li a:hover {
	color: blue;
}

h2 {
	font-size: 33px;
	font-family: Times New Roman;
	color: rgb(255,245,255);
	padding: 50px;
	text-align: center;
	text-decoration: underline;
}

div {
	display: inline-block;	
}

/*img 
{
	padding: 0 170px;
	border-width: 10px;
	width: 150px;
	height: 150px;
	float: left;
}
*/
p {
	padding: 0 30px;
	font-size: 20px;
	color: white;
	word-wrap: break-word;
}

.cont div {
	color: rgb(255,200,245);
	font-size: 20px;
	margin: 50px;

}

form {
	color: rgb(250,240,255);
	font-family: arial;
	font-size: 22px;
	margin: 20px;
	padding: 0 130px;
	width: 70%;
	display: inline-block;
	background-color: rgba(255,250,255,0.7);
	align-items: center;
}

input {
	width: 60%;
	height: 20px;
}

textarea {
	width: 60%;
	height: 20px;
}

input, textarea {
	outline: none;
	border: 1px solid grey;
}

input:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(245,0,0,0.5);
	border: 1px solid grey;
}